peewee==3.13.1
pydantic==1.6.2
factory-boy==2.12.0
requests==2.22.0
funcy==1.14
loguru==0.4.0
python-telegram-bot==12.2.0
python-dotenv==0.10.3
PySocks==1.7.1
Click==7.0
beautifulsoup4==4.8.2
splinter==0.13.0
markdown_strings